doctype html
html
  head
    title= title
    
    script(src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel= "shorcut icon" href="#")
    style.

     
      
    
  body
    
     
    div(class="container"  )
        .row 
          h1 Power now : 1kWh
        div.row(style="margin-top: 30px; ") 
         div(class="col-sm-6")
         
            div(class= "graph per each hour")
                canvas(id="chart1")
         div(class="col-sm-6")
            div(class="graph accumulated day")
                canvas(id="chart2")
        label(for="select day") Select day 
        input(type= "date" name= "select day" style= "margin-top: 30px")    
           
        div(class="row")
         div(class="col-sm-12")
            h1 VIEW BILL 
            label(for="select month") Select month 
            input(type= "month" name= "select month" style= "margin-top: 30px")
            div(class="result")


        
    script. 
            function drawChart(canvas_id, type, data) {
                const ctx= document.getElementById(canvas_id).getContext('2d');
                const myChart=new Chart(ctx, {
                    type: type,
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: data.label,
                            data: data.data,
                            backgroundColor: data.color
                        }]
                    }

                })

            }
            function randomColor(){
                return `rgb(${Math.floor(255*Math.random())},${Math.floor(255*Math.random())},${Math.floor(255*Math.random())})`
            }
            
            var data= {
                labels: ["3h", "4h", "5h", "6h", "7h", "8h"],
                data: [4,3,3.5,1,5,4.5],
                label: "comsumption per hour",
                color: [randomColor(),
                randomColor(),
                randomColor(),
                randomColor(),
                randomColor(),
                randomColor()
                ]

            }


            drawChart("chart1", "bar",data )
            var data= {
                labels: ["21 Jan", "22 Jan", "23 Jan", "24 Jan", "27 Jan", "28 Jan"],
                data: [40,30,35,10,50,45],
                label: "comsumption per day",
                color: [randomColor(),
                randomColor(),
                randomColor(),
                randomColor(),
                randomColor(),
                randomColor()
                ]

            }
            drawChart("chart2", "bar", data)
            var html= ``;
            html+=`<div style= "border: 1px solid"><h1>INVOICE</h1><h3>Bill to viet100@gmail.com</h3>`;
            html+=`<h5>Total power comsumption in month 2022-01 is: 0kW</h5>`;
            html+= `<p>Total charge: 0 VND</p>`;
            html+='<p>Please pay before ...</p>';
            html+='</div>'
            const para= document.querySelector(".result")
            para.innerHTML= html
                
