doctype html
html
  head
    title= title
    
    script(src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    style.
     
      
    
  body
     
    div(class="container"  )
         
    

        
        div.row(style="margin-top: 30px; ")   
             
            div(class= " col-sm-4" )
                h2 Wellcome  
                span(style="color: green") #{email}
                div.plot_date(style="margin-top: 50px; float: left; padding: 20px")
                
                    h5 Plot data of energy comsumption per date
                    form(action= `${formActionDate}`, method='get')
                    
                        div(class="form-group")
                            label(for='date') Please choose date to plot 
                            input(type="date" name= "date" class='form-control' required)
                        
        
                        input(type="submit" value= "PLOT" class='form-control btn-primary')
                div.plot_month(style="margin-top: 50px; float: left;  padding: 20px")
                
                    h5 Plot data of energy comsumption per month
                    form(action= `${formActionMonth}`, method='get')
                    
                        
                        div(class='form-group')
                            label(for='month') Please choose month to plot 
                            input(type="month" name= "month" min="2018-03" placeholder= "yyyy-mm" class='form-control' required)
        
                        input(type="submit" value= "PLOT" class='form-control btn-primary')
            
                div.bill(style="margin-top: 50px;  padding: 20px")
                    h3 Choose month to view bill
                    form(action= `${formAction}`, method='get')
                    
                   
                        div(class='form-group')
                            label(for='month') Please choose month to view bill 
                            input(type="month" name= "month" min="2018-03" placeholder= "yyyy-mm" class='form-control')
                        input(type="submit" value= "VIEW" class='form-control btn-primary')
                div(class='comment' style= "margin-top: 50px; border: 1px solid; padding: 20px")
                    h3 send comment here
                    form(action= `${formAction}`, method='post')
                    
                   
                        div(class='form-group')
                            label(for='comment') Comments: 
                            textarea(name="comment", cols="30", rows="5")
                        input(type="submit" value= "SEND" class='form-control btn-primary')
            div(class="col-sm-8")
                block content 
